html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 45px;
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #3c424a;
}

.footer .container {
    padding-top: 10px;
}

.text-muted a {
    color: #bbbbbb;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.loading-spinner {
    @extend .glyphicon;
    @extend .glyphicon-refresh;
    @extend .glyphicon-spin;
}

.progress-bar {
    float: none;
}

.progress-value {
    position: relative;
    top: -20px;
    left: 5px;
    color: #ffffff;
}

img.activityIcon, img.playerIcon {
    width: 46px;
    height: 46px;
}

.team {
    @extend .panel;
}

.team-Alpha {
    @extend .panel-danger;
}

.team-Bravo {
    @extend .panel-info;
}
