.col-lg-6 {
    max-width: 500px;
}

.char-panel {
    padding: 5px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
}

.char-panel div {
    padding: 2px;
}

.char-panel .levels {
    color: yellow;
}

.char-emblem {
    height: 50px;
    float: left;
    margin-right: 10px;
}
